flask
markdown2
pdfkit
langgraph
langchain
langchain-community
langchain-openai
langsmith
IPython
sentence-transformers
aiohttp
tavily-python
duckduckgo-search
beautifulsoup4
PyMuPDF
nltk
numpy
faiss-cpu
torch
torchvision
torchaudio
requests
python-dotenv
tqdm
transformers==4.40.2
scikit-learn
pandas
gunicorn
lxml
html5lib
dotenv